body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}

.main-calc-div {
    background-color:lightgray;
    width: 25%;
    height: 80%;
    min-width: 470px;
    min-height: 670px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-div {
    background-color: aliceblue;
    width: 90%;
    height: 20%;
    border-radius: 20px 20px 0 0;
}

.button-div {
    background-color: aliceblue;
    width: 80%;
    height: 70%;
    overflow: hidden;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    gap: 2%;
    border-radius: 0 0 20px 20px;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    overflow: hidden;
    flex: 3;
}

.button {
    border-radius: 70%;
    flex: auto;
    border: 3px solid black;
    font-size: x-large;
    font-weight: bold;
}

.row {
    display: flex;
    flex: auto;
    gap: 3%;
}

.zero, .operate{
    flex: 2;
    border-radius: 40px;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5%;
}

.clear, .operate, .operator, .number, .decimal, .del {
    flex: 1;
}

.bottom-two-rows {
    display: flex;
    flex: 4;
    gap: 1%;
}

.fourth-row {
    gap: 3%;
}

.fifth-row  {
    gap: 3%;
}

.decimal {
    max-width: 31%;
}

.operate {
    max-width: 97%;
    margin-left: 4%;
}

.horizontal-buttons {
    display: flex;
    flex: 3;
    gap: 7%;
    flex-direction: column;
}

.clear {
    background-color: rgb(206, 35, 5);
}

.del {
    background-color: orange;
}

.operator, .operate {
    background-color: palevioletred;
}