body {
    height: 100vh;
    background-color: darkslateblue;
}

body, .main-calc-div, .button-div, .buttons, .row, .right-column, .bottom-two-rows, .horizontal-buttons {
    display: flex;
}

body, .main-calc-div {
    justify-content: center;
    align-items: center;
}

.main-calc-div, .buttons, .right-column, .horizontal-buttons {
    flex-direction: column;

}

.main-calc-div {
    background-color:lightgray;
    width: 25%;
    height: 80%;
    min-width: 470px;
    min-height: 670px;
    border-radius: 20px;
}

.display-div {
    background-color: aliceblue;
    width: 90%;
    height: 20%;
    border-radius: 20px 20px 0 0;
}

.button-div {
    background-color: aliceblue;
    width: 80%;
    height: 70%;
    padding: 2% 5%;
    justify-content: center;
    gap: 2%;
    border-radius: 0 0 20px 20px;
}

.buttons, .horizontal-buttons {
    flex: 3;
}

.buttons {
    height: 100%;
    overflow: hidden;
}

.buttons, .row, .fourth-row, .fifth-row {
    gap: 3%;
}

.button {
    border-radius: 70%;
    border: 3px solid rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bold;
}

.row, .button {
    flex: auto;
}

.operate{
    flex: 2;
    border-radius: 40px;
}

.right-column {
    gap: 5%;
}

.clear, .operate, .operator, .number, .change, .del, .right-column {
    flex: 1;
}

.bottom-two-rows {
    flex: 4;
    gap: 1%;
}

.decimal {
    max-width: 31%;
}

.operate {
    max-width: 97%;
    margin-left: 6%;
}

.horizontal-buttons {
    gap: 7%;
}

.clear, .del, .operator, .operate {
    color: white;
}

.clear {
    background-color: rgb(206, 35, 5);
}

.del {
    background-color: orange;
}

.operator, .operate {
    background-color: rgb(184, 178, 180);
}

.button:hover {
    border: 3px solid grey;
}

.clear:hover, .del:hover, .operate:hover, .operator:hover {
    border: 3px solid rgb(100, 80, 80);
}
