body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}

.main-calc-div {
    background-color:lightgray;
    width: 25%;
    height: 80%;
    min-width: 470px;
    min-height: 670px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-div {
    background-color: aliceblue;
    width: 85%;
    height: 20%;
}

.button-div {
    background-color: aliceblue;
    width: 75%;
    height: 70%;
    overflow: hidden;
    padding: 2% 5%;
    display: flex;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    overflow: hidden;
}

.button {
    /* border-radius: 70%; */
    flex: auto;
    border: 5px solid black;
}

.row {
    display: flex;
    flex: auto;
    gap: 2%;
}

.del, .zero {
    flex: 2;
    border-radius: 40px;
}

.clear, .operator, .number {
    flex: 1;
}

.decimal, .operate {
    flex: 1;
}